$heading_color: #e3e;
$btn_background: #3f3;
$heading_font: "Areal";
.bg {
    color: red;
    background-color: #fff;
  }
  *{
    margin: 0;
    padding: 0;
  }
  .main{
    width: 1000px;
    margin: 100px auto;
    border: 1px solid #ddd;
    padding: 20px;
    .menu{
      background-color: $heading_color;
      padding: 20px;
       ul{
        list-style: none;
        display: flex;
        li{
            a{
              padding: 10px 20px;
              display: block;
              text-decoration: none;
              color: #fff;
              transition: .3s;
                &:hover{
                    color: yellow;
                }
            }
        }
       }
    }
  }
  