@import "./assets/common/base";
.bg {
    color: red;
    background-color: #fff;
  }
 
  .main{
    width: 1000px;
    margin: 100px auto;
    border: 1px solid #ddd;
    padding: 20px;
    .menu{
      background-color: $heading_color;
      padding: 20px;
       ul{
        list-style: none;
        display: flex;
        li{
            a{
             @include header;
                &:hover{
                    color: yellow;
                }
            }
        }
       }
    }
  }
  .services{
    .single-service{
      h4{
        @include title;   
      }
      p{
        @include title; 
      }
    }
  }